version: "3.8"

services:
    nats:
        image: nats:2.9.4
        restart: unless-stopped
        command: ["--jetstream", "--store_dir=/data", "-m", "8222"]
        ports:
            - "4222:4222"
            - "8222:8222"
        volumes:
            - nats_data:/data

    timescaledb:
        image: timescale/timescaledb:latest-pg14
        restart: unless-stopped
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: sentinel
        ports:
            - "5432:5432"
        volumes:
            - timescale_data:/var/lib/postgresql/data

volumes:
    timescale_data:
    nats_data:
