name: CI

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Install Rust toolchain
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  profile: minimal
            - name: Cargo fmt check
              run: cargo fmt -- --check
            - name: Cargo clippy
              run: cargo clippy --all-targets --all-features -- -D warnings
            - name: Cargo test
              run: cargo test --workspace --no-fail-fast
